#username, #password{
    width: 60%;
    height: 50px;
    margin: 0px auto;
}

#username:focus, #password:focus{
    width: 75%
}

h3{
    color: #FFE7A0;
}

.card-header{
    background-color: #30A2FF;
}

.error{
    text-align: center;
    color: red;
}